@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Olá Mundo, Pizza!</h1>
    <!-- 
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    -->
    <p>Esta é minha primeira página com Razor no ASP.NET.</p>
</div>
